<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Squad</title>
    <link rel="shortcut icon" href="images/alphav2.svg" type="image/x-icon">

    <!-- Archivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <!-- Antonio -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Archivo&display=swap" rel="stylesheet">

<!-- Basement Grotesque -->
    <link rel="stylesheet" href="style/canva.css">
</head>
<body>
   <div class="container-1">
    <div class="light"></div>
    <div class="wrap-nav">
        <div class="navbar-1">
            <a href="/index.html"> <img src="images/logoalpha.svg" alt="" class="logo" ></a>
     
             <ul id="navlink">
                 <li><a href="/alphaway/alphaway.html" class="link1 link-light">The Alpha way</a></li>
                 <li><a href="/people/people.html" class="link1 link-light">The people </a></li>
                 <li><a href="/dopestuff/dope.html" class="link1 link-light">Dope  Stuff</a></li>
                 <li><a href="/book/book.html" class="link1 link-light">Book a consultation</a></li>
             </ul>
         </div>
    </div>

    <div class="header">
        <p class="sub-title">Canva</p>
        <p class="headline">
            A graphic design platform that is used to create <br>
             social media graphics
        </p>
    </div>

   </div>

   <div class="container-2">
    <div class="hero-1">
    </div>
   </div>

   <div class="container-3">
    <div class="title-3">
        <p>
            CANVA
        </p>
    </div>
    <div class="para-3">
        <p>
            Canva is a graphic design platform that is used to create social media <br> graphics, 
            presentations, posters, documents, 
            and other visual content. The <br> platform is free to use and also offers paid
             subscriptions such as Canva Pro <br> and Canva for Enterprise.
        </p>
    </div>
   </div>

  

   <div class="container-4">
    <div class="hero-2">
        <img src="images/flower.webp" alt="">
    </div>
    <div class="title-4">
        <p>
            Typography & Colors
        </p>
    </div>
    <div class="para-4">
        <p>
            For the overall visuals, we kept them very refreshing with elements of green <br>
             that projected the ‘nature’ and ‘tree’ vibe, 
             giving an ode to their pledge of <br> planting a tree for every invoice generated,
              minimizing their carbon print on <br> planet Earth.
        </p>
    </div>
   </div>

   
    <div class="hero-66">
        <img src="images/flower2.webp" alt="">
    </div>
<div class="container-6">
        <div class="title-6">
            <p>
                The Dashboard
            </p>
        </div>
        <div class="para-6">
            <p>
                We designed a dashboard that accommodated information like customer <br> ID,
                 order number, invoices, etc, in an expandable and collapsable table
                  for <br> different stakeholders. In addition to that,
                 the usability pattern we provided <br> was an
                  option to add or remove categories from the
                   table which allowed <br> every unique stakeholder 
                   to view whatever they deemed most important.
            </p>
        </div>
    
    <div class="hero-6">
        <img src="images/statistic.webp" alt="">
    </div>
    <div class="title-6">
        <p>
            The Sign In Screen
        </p>
    </div>
    <div class="para-6">
        <p>
            Added educational facts on the 
            'Sign-up Page' and ‘Sign-in Page’ 
            that <br> educate users on the importance
             of minimizing carbon prints on the planet.
        </p>
    </div>
    <div class="hero-77">
        <img src="images/browser1.webp" alt="">
    </div>
   <div class="title-6">
    <p>
        Yay! You did it!
    </p>
   </div>
  <div class="para-6">
    <p>
        We came up with a way to give users
         a sense of accomplishment when <br> they
          help plant a tree against their order, 
          giving them a certificate of their <br> contribution.
    </p>
  </div>
    <div class="hero-77">
        <img src="images/browser2.webp" alt="">
    </div>
</div>


      <footer>
        <div class="grid-footer">
            <div class="content-1">
            <p class="item1">
                FIND US
            </p>
           <ul class="links">
            <li class="dribb textc">DRIBBBLE</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="github textc">GITHUB</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="linked textc">LINKEDIN</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="insta textc">INSTAGRAM</li>
           </ul>
            </div>
            <div class="content-2">
                <p class="item2">
                    UP CLOSE AND PERSONAL
                </p>
                <a class="email" href="http://">HOWDY@ALPHASQUAD.TECH</a>
            </div>
            <div class="content-3">
                <p class="copywrite">© ALPHASQUAD LLC 2022
                    ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </footer>
 </body>
 </html>