<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Squad</title>
    <link rel="shortcut icon" href="images/alphav2.svg" type="image/x-icon">

    <!-- Archivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <!-- Antonio -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Archivo&display=swap" rel="stylesheet">

<!-- Basement Grotesque -->
    <link rel="stylesheet" href="style/enter.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container-1">
        <div class="light"></div>
        <div class="wrap-nav">
            <div class="navbar-1">
                <a href="/index.html"> <img src="images/logoalpha.svg" alt="" class="logo" ></a>
         
                 <ul id="navlink">
                     <li><a href="/alphaway/alphaway.html" class="link1 link-light">The Alpha way</a></li>
                     <li><a href="/people/people.html" class="link1 link-light">The people </a></li>
                     <li><a href="/dopestuff/dope.html" class="link1 link-light">Dope  Stuff</a></li>
                     <li><a href="/book/book.html" class="link1 link-light">Book a consultation</a></li>
                 </ul>
             </div>
        </div>
    
        <div class="header">
            <p class="sub-title">
              Enter Here
            </p>
            <h1 class="headline">
              Enter Here - Mental Health Progressive Webapp
            </h1>
        </div>
       </div>
       <div class="container-5">
       <div class="hero-2">
        <img src="images/en1.webp" alt="">
      </div>
      <div class="box">
        <div class="title-3">
        <p>
          ENTER HERE
        </p>
    </div>
    <div class="para-3">
        <p>
          Enter Here is a safe place for people 
          seeking mental health from expert 
          healers from the comfort of their 
          homes, with their identity 
          absolutely anonymous. 
          Forget about booking an 
          appointment, starting up your 
          car, and driving to the 
          location; Enter Here opens 
          the possibility of seeking 
          help within the confines of your comfort zone.
        </p>
    </div>
    </div>
</div>
</div>

        <div class="container-5">
          <div class="hero-2">
            <img src="images/en2.webp" alt="">
          </div>
    <div class="box">
        <div class="title-3">
        <p>
          TYPOGRAPHY & COLORS
        </p>
    </div>
    <div class="para-3">
        <p>
          For Enter Here we used here Poppins 
          as a main font and blush purple pink
           and Magenta used as a theme and 
           introduced black  accent 
          
          color.. And since monochromatic 
          colors give off a clean-cut, 
          professional vibe, we chose 
          to go with the Poppins 
          and Urbanist typeface
           to make everything 
           a tab bit ‘friendlier’.  
        </p>
    </div>
    </div>
    <div class="hero-2">
      <img src="images/en3.webp" alt="">
  </div>
  <div class="box">
    <div class="title-3">
    <p>
      THE PROCESS OF IT ALL
    </p>
  </div>
  <div class="para-3">
    <p>
      There are a few websites that 
      combines real estate with crypto,
       but there is none that gives you
        a ‘metaverse’ feel. The main 
        challenge was to come up with 
        an aestethic that captured the metaverse 
      experience for purchasing real 
      estate. We did that by utilizing 
      the whole screen of the device the 
      user is on and gave them a 
      panaromic view of the 
      property they want 
      to analyze. 
    </p>
    </div>
    </div>
</div>

<div class="container-5">
<div class="hero-2">
    <img src="images/en4.webp" alt="">
</div>
<div class="box">
  <div class="title-3">
  <p>
    THE PROCESS OF IT ALL
  </p>
</div>
<div class="para-3">
  <p>
    There are a few websites that 
    combines real estate with crypto,
     but there is none that gives you
      a ‘metaverse’ feel. The main 
      challenge was to come up with 
      an aestethic that captured the metaverse 
    experience for purchasing real 
    estate. We did that by utilizing 
    the whole screen of the device the 
    user is on and gave them a 
    panaromic view of the 
    property they want 
    to analyze. 
  </p>
  </div>
  </div>
      <div class="hero-2">
        <img src="images/en5.webp" alt="">
    </div>

    <div class="box">
      <div class="title-3">
      <p>
        THE PROCESS OF IT ALL
      </p>
    </div>
    <div class="para-3">
      <p>
        There are a few websites that 
        combines real estate with crypto,
         but there is none that gives you
          a ‘metaverse’ feel. The main 
          challenge was to come up with 
          an aestethic that captured the metaverse 
        experience for purchasing real 
        estate. We did that by utilizing 
        the whole screen of the device the 
        user is on and gave them a 
        panaromic view of the 
        property they want 
        to analyze. 
      </p>
      </div>
      </div>
          <div class="hero-2">
            <img src="images/en6.webp" alt="">
        </div>

        <div class="box">
          <div class="title-3">
          <p>
            THE PROCESS OF IT ALL
          </p>
        </div>
        <div class="para-3">
          <p>
            There are a few websites that 
            combines real estate with crypto,
             but there is none that gives you
              a ‘metaverse’ feel. The main 
              challenge was to come up with 
              an aestethic that captured the metaverse 
            experience for purchasing real 
            estate. We did that by utilizing 
            the whole screen of the device the 
            user is on and gave them a 
            panaromic view of the 
            property they want 
            to analyze. 
          </p>
          </div>
          </div>
              <div class="hero-2">
                <img src="images/en7.webp" alt="">
            </div>
  </div>

    
             <footer>
        <div class="grid-footer">
            <div class="content-1">
            <p class="item1">
                FIND US
            </p>
           <ul class="links">
            <li class="dribb textc">DRIBBBLE</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="github textc">GITHUB</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="linked textc">LINKEDIN</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="insta textc">INSTAGRAM</li>
           </ul>
            </div>
            <div class="content-2">
                <p class="item2">
                    UP CLOSE AND PERSONAL
                </p>
                <a class="email" href="http://">HOWDY@ALPHASQUAD.TECH</a>
            </div>
            <div class="content-3">
                <p class="copywrite">© ALPHASQUAD LLC 2022
                    ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </footer>
        
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
 </body>
 </html>