<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Squad</title>
    <link rel="shortcut icon" href="images/alphav2.svg" type="image/x-icon">

    <!-- Archivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <!-- Antonio -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Archivo&display=swap" rel="stylesheet">

<!-- Basement Grotesque -->
    <link rel="stylesheet" href="style/nys.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
   <div class="container-1">
    <div class="light"></div>
    <div class="wrap-nav">
        <div class="navbar-1">
            <a href="/index.html"> <img src="images/logoalpha.svg" alt="" class="logo" ></a>
     
             <ul id="navlink">
                 <li><a href="/alphaway/alphaway.html" class="link1 link-light">The Alpha way</a></li>
                 <li><a href="/people/people.html" class="link1 link-light">The people </a></li>
                 <li><a href="/dopestuff/dope.html" class="link1 link-light">Dope  Stuff</a></li>
                 <li><a href="/book/book.html" class="link1 link-light">Book a consultation</a></li>
             </ul>
         </div>
    </div>

    <div class="header">
        <p class="sub-title">
            The New York Sun
        </p>
        <h1 class="headline">
            Digital Transformation for a 200-year old - Pulitzer winning publication. 
        </h1>
    </div>

   </div>

   <div class="container-2">
    <div class="hero-1">
       <img class="sctesvg tex">
    </div>
   </div>

   <div class="container-3">
<div class="box">
        <div class="title-3">
        <p>
            THE NEW YOURK SUN
        </p>
    </div>
    <div class="para-3">
        <p>
            The New York Sun is a pioneering newspaper and has been 
            winning the Pulitzer Prize since the 19th century,
             accumulating huge audiences from all over the world.
             So with a fast-approaching age of a digitalized
              world, they thought ahead and shifted their 
              focus to a digital-first approach, entrusting 
              us with Design, Development, and DevOps.   
        </p>
    </div>
</div>
   </div>
   <div class="container-5">
    <div class="hero-2">
        <img src="images/paper2.webp" alt="">
    </div>
   </div>

   <div class="container-6">
<div class="box">
    <div class="title-6">
        <p>
            The Challenge
        </p>
    </div>
    <div class="para-4">
        <p>
            The first challenge was coming up with a layout
             that encompassed the publication’s dynamic 
             content but at the same time, kept its values
              and identity intact. And the second challenge
               was to design NYSUN’s website with a modern 
               approach but to keep it
             as traditional as it was in the 1800s. So,
              we divided the challenge into two parts:
               the overall user experience (performance,
                scalability, and SEO optimization) and visual design. 
        </p>
    </div>
</div>
    <div class="hero-6">
        <img src="images/compersion.webp" alt="">
    </div>
</div>

<div class="container-6">
<div class="box">
    <div class="title-6">
        <p>
            Let’s Dive into The Process
        </p>
    </div>
    <div class="para-4">
        <p>
            The design team worked closely with The New York Sun’s
             core team to come up with the new design for their 
             digital presence. After days and days of brainstorming
             sessions, making mood boards, iterations, 
             and keeping the publishers’ expert opinion 
             into every thought process, we finally produced 
             something that was exactly what they wanted.
        </p>
    </div>
</div>
    <div class="hero-5">
        <img src="images/sitemap.webp" alt="">
    </div>
    <div class="hero-55">
        <img src="images/brain.webp" alt="">
    </div>
</div>

<div class="container-6">
<div class="box">
    <div class="title-6">
        <p>
            Some Important Highlights
        </p>
    </div>
</div>
<div class="hero-8">
    <img src="images/MacBook.webp" alt="">
</div>
<div class="box">
    <div class="title-6">
        <p>
            Media Library Design
        </p>
    </div>
    <div class="para-6 font">
        <p>
            During the design phase,
             we noticed that there were 
             a lot of people who preferred
              to watch the news rather than read it.
            So, we introduced a media 
            library page where they would
             find the same news in a video format.
            
        </p>
    </div>
</div>
<div class="hero-8">
    <img src="images/MacBook2.webp" alt="">
</div>
    <div class="box">
        <div class="title-4">
            <p>
                Sun Member & Founder Packages
            </p>
        </div>
        <div class="para-4">
            <p>
                Through design and colors, a balance was
                 created to emphasize each pricing plan.
                  The users were subconsciously directed
                   to "Sun member" without being oblivious
                    to "Sun founder" that would give them
                     a premium experience.
            </p>
        </div>
    </div>
    <div class="hero-6">
        <img src="images/price1.webp" alt="">
    </div>

    <div class="box">
        <div class="title-4">
            <p>
                Annual & Montly Prices
            </p>
        </div>
        <div class="para-4">
            <p>
                For the home we used light 
                gray divider lines in between 
                sections, and to differentiate 
                between the sections we used 
                dark grey divider lines.
            </p>
        </div>
    </div>
    <div class="hero-6">
        <img src="images/price2.webp" alt="">
    </div>

    <div class="box">
        <div class="title-4">
            <p>
                Brand Store Design
            </p>
        </div>
        <div class="para-4">
            <p>
                We also helped brand their very own merch store. How sweeet is that?
            </p>
        </div>
    </div>
    <div class="hero-6">
        <img src="images/price1.webp" alt="">
    </div>

<div class="container9">
    <div class="grid">
        <div class="cal1">
       <div class="gif">
     <img class="gif" src="images/nyshow.gif" alt="">
       </div>
<div class="row-wrap">
    <div class="row1">
        <img src="images/Nyrow1.webp" alt="">
               </div>
               <div class="row2">
                <img src="images/Nyrow2.webp" alt="">
               </div>
               <div class="row3">
                <img src="images/Nyrow3.webp" alt="">
               </div>
</div>
        </div>
        <div class="cal2">
<div class="cal-wrap">
    <div class="pic1">
        <img src="images/NYcal1.webp" alt="">
        </div>
        <div class="pic2">
            <img src="images/NYcal2.webp" alt="">
        </div>
        <div class="pic3">
            <img src="images/NYcal3.webp" alt="">
        </div>
</div>
        </div>
    </div>
    </div>
</div>
        <footer>
        <div class="grid-footer">
            <div class="content-1">
            <p class="item1">
                FIND US
            </p>
           <ul class="links">
            <li class="dribb textc">DRIBBBLE</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="github textc">GITHUB</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="linked textc">LINKEDIN</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="insta textc">INSTAGRAM</li>
           </ul>
            </div>
            <div class="content-2">
                <p class="item2">
                    UP CLOSE AND PERSONAL
                </p>
                <a class="email" href="http://">HOWDY@ALPHASQUAD.TECH</a>
            </div>
            <div class="content-3">
                <p class="copywrite">© ALPHASQUAD LLC 2022
                    ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </footer>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>