<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Squad</title>
    <link rel="shortcut icon" href="images/alphav2.svg" type="image/x-icon">

    <!-- Archivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <!-- Antonio -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Archivo&display=swap" rel="stylesheet">

<!-- Basement Grotesque -->
    <link rel="stylesheet" href="style/sxm.css">
</head>
<body>
    <div class="container-1">
        <div class="light"></div>
        <div class="wrap-nav">
            <div class="navbar-1">
                <a href="/index.html"> <img src="images/logoalpha.svg" alt="" class="logo" ></a>
         
                 <ul id="navlink">
                     <li><a href="/alphaway/alphaway.html" class="link1 link-light">The Alpha way</a></li>
                     <li><a href="/people/people.html" class="link1 link-light">The people </a></li>
                     <li><a href="/dopestuff/dope.html" class="link1 link-light">Dope  Stuff</a></li>
                     <li><a href="/book/book.html" class="link1 link-light">Book a consultation</a></li>
                 </ul>
             </div>
        </div>
    
        <div class="header">
            <p class="sub-title">
                SiriusXM Radio 
            </p>
            <h1 class="headline">
                Brochure Website
            </h1>
        </div>
    
       </div>
    
       <div class="container-2">
        <div class="hero-1">
        </div>
       </div>
    
       <div class="container-3">
    <div class="box">
            <div class="title-3">
            <p>
                SIRIUSXM RADIO
            </p>
        </div>
        <div class="para-3">
            <p>
                Sirius XM Holdings Inc. 
                is an American broadcasting company 
                headquartered in Midtown Manhattan, 
                New York City that provides satellite 
                radio and online radio services operating in the United States. 

                It was formed by the 2008 merger of 
                Sirius Satellite Radio and XM Satellite 
                Radio, merging them into SiriusXM Radio.   
            </p>
        </div>
    </div>
       </div>
       <div class="container-5">
        <div class="box">
            <div class="title-3">
            <p>
                CONTEXT
            </p>
        </div>
        <div class="para-3">
            <p>
                As a non-profit entity whose board includes companies 
                like Comcast and Charter Communications, the client was 
                under constant pressure to deliver maximum value from the
                 products and services it offers. Several prior attempts 
                 to automate core business functions and move them to the cloud
                 had failed. The client had a strong in-house IT team 
                 but no authoritative plan for the future, and was rapidly 
                 losing ground to competitors due to the accrual of technical debt.
            </p>
        </div>
    </div>
        <div class="hero-2">
            <img src="images/sxm2.webp" alt="">
        </div>
    </div>
       </div>
    
       <div class="container-6">
    <div class="box">
        <div class="title-6">
            <p>
                Business Challenge
            </p>
        </div>
        <div class="para-4">
            <p>
                SiriusXM was in collaboration with ARI to 
                provide their drivers access to over 150 of their 
                channels. The challenge they faced was a seamless 
                integration between the two systems.

                Moreover, they also needed a simple enrollment 
                process for the drivers to onboard them into the 
                program without much hassle.
            </p>
        </div>
    </div>
    <div class="hero-6">
        <img class="hero-6" src="images/sxm3.webp" alt="">
    </div>
        <div class="title-6">
            <p>
                Everything you want to hear!
            </p>
    </div>
    </div>
    

    <div class="container-7">
        <div class="box">
            <div class="title-6">
                <p>
                    Solution
                </p>
            </div>
            <div class="para-4">
                <p>
                    Our team designed and developed an enrollment 
                    system with having rich user experience that helped the 
                    driver onboard easily by filling and submitting 
                    a simple form. The integration works seamlessly 
                    behind the scenes and provides access to the drivers approved by the ARI moderators.
                </p>
            </div>
        </div>
        <div class="hero-66">
            <img class="hero-66" src="images/sxm4.webp" alt="">
        </div>
        <div class="box">
            <div class="title-4">
                <p>
                    Highlights of the system 
                </p>
            </div>
                    <div class="dot1">
                        <li>
                           <span class="text-wrap">
                            Designed and developed landing and enrollment pages to onboard the drivers into the system.
                           </span>
                        </li>
                        <li>
                            <span class="text-wrap">
                                Provided an integrated enrollment system that is easy to use for the drivers to be onboarded.
                            </span>
                        </li>
                        <li>
                            <span class="text-wrap">
                                Integrated ARI into the SiriusXM authorization system.
                            </span>
                        </li>
                    </div>
        </div>

<div class="img-wrap">
    <div class="hero-67">
        <img class="hero-67" src="images/sxm5.webp" alt="">
    </div>
    <div class="hero-68">
        <img class="hero-68" src="images/sxm6.webp" alt="">
    </div>
    <div class="hero-67">
        <img class="hero-67" src="images/sxm7.webp" alt="">
    </div>
</div>
        </div>
    
       <footer>
      <footer>
        <div class="grid-footer">
            <div class="content-1">
            <p class="item1">
                FIND US
            </p>
           <ul class="links">
            <li class="dribb textc">DRIBBBLE</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="github textc">GITHUB</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="linked textc">LINKEDIN</li>
            <li class="dot">
                <img src="images/dot.svg" alt="">
            </li>
            <li class="insta textc">INSTAGRAM</li>
           </ul>
            </div>
            <div class="content-2">
                <p class="item2">
                    UP CLOSE AND PERSONAL
                </p>
                <a class="email" href="http://">HOWDY@ALPHASQUAD.TECH</a>
            </div>
            <div class="content-3">
                <p class="copywrite">© ALPHASQUAD LLC 2022
                    ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </footer>
        
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 </body>
 </html>