.people--head {
    background: url(./Assets/aa.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* section 1 styles */

.sect-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1475px;
    margin: 141px auto 181px auto;
}

.point {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(Assets/points.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1239px;
    height: 1401.5px;
}


.sub-title1 {
    width: 220px;
    height: 36px;
    left: 308px;
    top: 1221px;
    
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    text-transform: uppercase;
    
    /* Zinc 400 */
    
    color: #A1A1AA;
}

.title1--people {
    width: 468px;
    height: 144px;
    left: 308px;
    top: 1269px;
    
    font-family: 'Basement Grotesque';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    
    
    color: #FFFFFF;
}

.item-1 {
    width: 100%;
    height: 192px;
}


.item-2 {
    width: 100%;
    height: 192px;
    margin-top: 480px;
    padding-left: 110%;
    
}

.item-3 {
    width: 100%;
    height: 192px;
    margin-top: 441px;
}



/* Section two styles */

.section2--people {
    display: flex;
        }
    
        .person1 {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 142px;
            margin-top: 32PX;
            margin-bottom: 32px;
            border-bottom: 2px solid #3F3F46;
    
        }
    
        .person2 {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 142px;
            margin-bottom: 32px;
            border-bottom: 2px solid #3F3F46;
        }
    
        .person3 {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 142px;
            margin-bottom: 32px;
            border-bottom: 2px solid #3F3F46;
        }
    
        .person4 {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 142px;
            margin-bottom: 32px;
            border-bottom: 2px solid #3F3F46;
        }
    
        .person5 {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 142px;
            margin-bottom: 32px;
            border-bottom: 2px solid #3F3F46;
        }
    
        .person6 {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 142px;
            margin-bottom: 32px;
            border-bottom: 2px solid #3F3F46;
        }
    
        .person7 {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 142px;
            margin-bottom: 96px;
            border-bottom: 2px solid #3F3F46;
        }
    
    
        .detail {
            width: 100%;
            height: 690px;
        }
    
        .line-divide1 {
            width: 100%;
            height: 0px;
            border: 1px solid #3F3F46;
            transform: rotate(180deg);
        }
    
    
        .person-title {
            width: 150px;
            height: 24px;
            padding-left: 56px;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            color: #FFFFFF;
        }
    
        .person-subtitle {
            width: 380px;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 100%;
            /* identical to box height, or 24px */
            
            
            /* Zinc 400 */
            
            color: #A1A1AA;
        }
    
        .person-para {
            width: 360px;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 100%;
            margin-right: 162px;
            color: #A1A1AA;
        }
    
    
        .person {
            width: 456px;
            height: 456px;
        }
    
        .description--people {
            width: 409px;
            height: 120px;
            margin-top: 48px;
            margin-left: 20px;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #A1A1AA;
        }
    
        .social {
            width: 330px;
            height: 18px;
            margin-top: 24px;
            margin-left: 20px;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 100;
            font-size: 18px;
            line-height: 100%;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    
        .img1 {
            background: url(Assets/arsalan.png);
            background-size: cover;
            width: 456px;
            height: 456px;
        }
        
    