.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 980px;
    margin-top: 175px;
}



.wrap-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-wrap-dope {
    display: flex;
    justify-content: space-around;
    gap: 48px;
    width: 100%;
    height: 565px;
    transition: all 0.3s ease;
}

.flex-item1 {
width: 156px;
height: 565px;
margin-right: 24px;
margin-left: -108px;
border: 1px solid #27272A;
transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item1:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic1.png);
    }

.flex-item2 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item2:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic2.png);
    }


.flex-item3 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item3:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic3.png);
    }

.flex-item4 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item4:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic4.png);
    }


.flex-item5 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item5:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic5.png);
    }



.flex-item6 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item6:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic6.png);
    }



.flex-item7 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item7:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic7.png);
    }


.flex-item8 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item8:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic8.png);
    }



.flex-item9 {
    width: 168px;
    height: 565px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item9:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic9.png);
    }


.flex-item10 {
    width: 156px;
    height: 565px;
    margin-right: -108px;
    margin-left: 24px;
    border: 1px solid #27272A;
    transition: all 400ms cubic-bezier(0, 0.08, 0.29, 1.3);
}

.flex-item10:hover {
    width: 404px;
    height: 565px;
    background: url(Assets/pic10.png);
    }

    .headline--dope {
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 100%;
text-align: center;
text-transform: uppercase;
color: #A1A1AA;
margin-top: 96px;
    }


    .title {
         font-family: 'Basement Grotesque';
         font-style: normal;
         font-weight: 800;
         font-size: 48px;
         line-height: 120%;
         text-align: center;
         text-transform: uppercase;
         color: #F4F4F5;
    }



/* case study view styles */

.wrap-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrap-box:hover {
    cursor: pointer;
}

.box-1 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-1:hover {
    background: url(dope/scte.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-2 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-2:hover {
    background: url(dope/pic2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-3 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-3:hover {
    background: url(dope/pic3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-44 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-44:hover {
    background: url(dope/pic4.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-5 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-5:hover {
    background: url(dope/pic5.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-6 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-6:hover {
    background: url(dope/pic6.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.box-7 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-7:hover {
    background: url(dope/pic7.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.box-8 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-8:hover {
    background: url(dope/pic8.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-9 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-9:hover {
    background: url(dope/tuk2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-10 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-10:hover {
    background: url(dope/pic10.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-11 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-11:hover {
    background: url(dope/pic11.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-12 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-12:hover {
    background: url(dope/pic12.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.box-13 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-13:hover {
    background: url(dope/pic13.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.box-14 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-14:hover {
    background: url(dope/pic14.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.box-15 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-15:hover {
    background: url(dope/pic15.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-16 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-16:hover {
    background: url(dope/pic16.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-17 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}

.box-17:hover {
    background: url(dope/pic17.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-18 {
    width: 100%;
    height: 720px;
    border: 1px solid #3F3F46;
    transition: all 200ms linear;
}


.box-18:hover {
    background: url(dope/pic18.webp);
    background-repeat: no-repeat;
    background-size: cover;
}




.tagline {
    width: 800px;
    height: 20px;
    margin: 520px 80px auto 80px;
    font-family: 'Basement Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    /* Zinc 400 */
    
    color: #A1A1AA;
    transition: all 200ms linear;
}


.description {
    width: 800px;
    height: 76px;
    margin: 24px 80px 80px 80px;
    
    font-family: 'Basement Grotesque';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
}


.tagline-4 {
    width: 695px;
height: 154px;
margin: 283px auto 283px auto;

font-family: 'Basement Grotesque', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 120%;
/* or 77px */

text-align: center;
letter-spacing: -0.02em;

color: #27272A;
transition: all 0.3s ease-in-out;
}