@tailwind base;
@tailwind components;
@tailwind utilities;


.font {
    font-family: "Archivo";
    line-height: 150% !important;
}

.Antonio {
    font-family: "Antonio";
    line-height: 150%;
}


/* header styles */

.line {
    width: 541px;
height: 0px;

border: 1px solid #52525B;

/* Inside auto layout */


}

