@tailwind base;
@tailwind components;
@tailwind utilities;


/* colors predefined */

.Dark-gray {
  color: #A1A1AA;
}

.light-gray {
  color: #D4D4D8;
}


.w-111 {
  width: 1013px;
}

.img-size {
  max-width: 621px;
  height: 658px;
}


.Ml {
  margin-left: 192px;
}

.font {
  font-family: "Archivo";
}

.Antonio {
  font-family: "Antonio";
}

.Basement {
  font-family: "Basement Grotesque";
}

.Urbanist {
  font-family: 'Urbanist', sans-serif;
}

.margin-top {
  margin-top: 616px;
}

.px-595 {
  padding-left: 565px;
  padding-right: 565px;
}

.item {
  border-bottom: 1px solid #3f3f46;
}

/* header styles */

.line {
  width: 541px;
  height: 0px;

  border: 1px solid #52525b;

  /* Inside auto layout */
}

.bg-carousol {
  background: #18181b;
}

.Swiper .swiper-slide,
swiper-slide {
  width: 70% !important;
}

@media screen and (max-width: 1440px) {
  .px-595 {
    padding-left: 112px;
    padding-right: 112px;
  }

  .Ml {
    margin-left: 48px;
  }

  .img-size {
    max-width: 621px;
    height: 621px;
  }
}




@media screen and (max-width: 1270px) {
  .img-size {
    max-width: 1075px;
    height: 1032px;
  }
}

@media screen and (max-width: 1080px) {
  .margin-top {
    margin-top: 336px;
  }
  .w-111 {
    width: 564px;
  }
  .Ml {
    margin-left: 24px;
  }

  .img-size {
    max-width: 1075px;
    height: 1032px;
  }
}

@media screen and (max-width: 744px) {
  .margin-top {
    margin-top: 296px;
  }

  .img-size {
    max-width: 100%;
    height: 100%;
  }

  .px-595 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .w-111 {
    width: 358px;
  }
}

/* custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(248, 248, 248);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 144, 144);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb3b3;
}
